table.dataTable tbody td {
    vertical-align: middle;
    color: #000 !important;
    font-size: 15px;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #FFFFFF;
    opacity: 1;
}

code.catch {
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.delete_cart {
    color: #F00;
    cursor: pointer;
    margin-right: 10px;
}

.double_side {
    line-height: 1.8;
}

.role_option {
    margin-left: 5px;
}

.role_option_detail {
    margin-left: 10px;
}

#informationSection div {
    border-right: 1px solid #000;
}

#informationSection div h3 {
    text-align: center;
}

.cs-list h4 {
    cursor: pointer;
    border-bottom: 1px solid #EDF1F5;
    padding-top: 7px;
    padding-bottom: 7px;
}

.cs-list h4:hover {
    font-weight: bold;
}

.container_opsi {
    border: 1px solid #808080;
    margin-left: 10px;
    background-color: #EDF1F5;
    padding-top: 10px;
}

.preloader {
    z-index: 100000 !important;
}

#sortableStatement tbody tr {
    margin-bottom: 4px;
}

.cursor-pointer {
    cursor: pointer;
}

.word-wrap {
    word-wrap: break-word;
}

.tooltip-content {
    width: auto !important;
}

.table-row-danger {
    border: 2px solid #FF9191 !important;
    z-index: 1000;
}

.table-row-warning {
    border: 2px solid #FFCF8A !important;
    z-index: 1000;
}

table tbody td {
    color: #000;
}

.datepicker {
    z-index: 10000 !important;
}

.font-color-red {
    color: #F00;
}

.font-color-green {
    color: #0cb762;
}

.font-color-green {
    color: #0cb762;
}

.link-to-profile:hover {
    text-decoration: underline;
    text-decoration-color: #337ab7;
}

.box-product {
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
}

.box-product:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    z-index: 1000;
}

tr td.processed {
    text-align: center;
}

#dataTable>tbody>tr>td {
    border-top: 2px solid #e4e7ea !important;
}
