table.dataTable tbody td {
    vertical-align: middle;
    color: #000 !important;
    font-size: 15px;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #FFFFFF;
    opacity: 1;
}

code.catch {
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.delete_cart {
    color: #F00;
    cursor: pointer;
    margin-right: 10px;
}

.double_side {
    line-height: 1.8;
}

.role_option {
    margin-left: 5px;
}

.role_option_detail {
    margin-left: 10px;
}

#informationSection div {
    border-right: 1px solid #000;
}

#informationSection div h3 {
    text-align: center;
}

.cs-list h4 {
    cursor: pointer;
    border-bottom: 1px solid #EDF1F5;
    padding-top: 7px;
    padding-bottom: 7px;
}

.cs-list h4:hover {
    font-weight: bold;
}

#list_cs {
    border: 1px solid #808080;
    margin-left: 10px;
    background-color: #EDF1F5;
    padding-top: 10px;
}

.preloader {
    z-index: 100000 !important;
}

#sortableStatement tbody tr {
    margin-bottom: 4px;
}
